/* Text Selection start */

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: yellow;
}

::selection {
  color: black;
  background: yellow;
}

mark {
  color: black;
  background-color: yellow;
}

mark:hover {
  color: black !important;
  background-color: yellow !important;
  cursor: pointer;
  -webkit-text-fill-color: black
}

/* Text selection End */

/* Scroll Bar start */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c63ff;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

/* Scroll Bar End */

/* start navigation */

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 700 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

/* end navigation */

/* Banner Area */

#subheading {
  color: #4458dc;
}

.social {
  font-size: 22px;
  padding: 0 0 10px 0;
  color: var(--border-color);
}

.social-link {
  padding: 10px;
}

.social:hover {
  color: var(--primary-color);
}

.site-main .site-banner .site-title h3 {
  padding-top: 5%;
  font-weight: 500;
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image>img {
  padding: 0.5rem 0;
  width: 90rem;
}

.first-btn a {
  text-decoration: none;
  color: #fff;
}

.first-btn a:hover {
  text-decoration: none;
  color: #000;
}

.second-btn a {
  text-decoration: none;
  color: #000;
}

.second-btn a:hover {
  text-decoration: none;
  color: #fff;
}

.site-title p a {
  text-decoration: underline;
  cursor: pointer;
}

/* End Banner Area */

/* Start Experience Area */

.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h3>span {
  display: block;
  font: normal bold 49px/ 60px var(--roboto);
  letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph>p {
  padding: 0.4rem 0;
}

.exp>span {
  float: right;
  margin-right: 5vh;
  color: #4458dc;
}

.exp a,
i {
  cursor: pointer;
}

ul {
  list-style-type: square;
}

/* End Experience Area */

/* Start Technical Skills Area */
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-none {
  box-shadow: none !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.item {
  margin-bottom: 2rem;
}

.benefits-section .item .icon-holder {
  width: 60px;
  height: 60px;
  background: #f5f6fe;
  display: inline-block;
  border-radius: 50%;
  padding-top: 15px;
}

.benefits-section .item .icon-holder .svg-inline--fa {
  color: #4550e6;
  font-size: 1.75rem;
}

.benefits-section .item-inner {
  padding: 1.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: 1px solid #f5f6fe;
  height: 100%;
  background: #fff;
}

.how-section .icon-holder {
  text-align: center;
}

.how-section .icon-holder img {
  max-width: 200px;
  height: auto;
  position: relative;
}

.how-section .arrow-holder {
  content: "";
  width: 100%;
  height: 15px;
  background: url("../images/line-with-arrow.svg") no-repeat center center;
  background-size: 120px 15px;
  display: inline-block;
  position: absolute;
  right: -50%;
  top: 25%;
}

.step-count {
  border-radius: 50%;
  background: #f5f6fe;
  color: #4550e6;
  width: 36px;
  height: 36px;
  font-size: 1.25rem;
  padding-top: 0.3rem;
  display: inline-block;
  text-align: center;
}

.logos-section .item {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}

.logos-section .item img {
  width: 150px;
  height: auto;
}

.integration-list .item img {
  width: 100px;
  height: auto;
  background: white;
}

/* End Technical Skills Area */

/* Certificate Area */

.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area .button-group button+button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project>.title h4 {
  font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* End Certificate Area */

/* About Me */

.site-main .about-area .about-title p {
  padding: 1rem 7rem;
}

.site-main .about-area .client {
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
}

.site-main .about-area .client .client-img {
  padding: 2rem;
}

.site-main .about-area .client .about-client {
  padding-top: 2rem;
}

.site-main .about-area .client .about-client h4 {
  font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p {
  font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.transitioning-src {
  transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  opacity: 0;
}

.para a {
  text-decoration: underline;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
  background: var(--primary-color);
  width: 12px;
  height: 12px;
}

/* End About Me */
.faq-accordion .card-title {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

.faq-accordion .card-title a {
  color: #252930;
}

.faq-accordion .card-title a:hover {
  text-decoration: none;
}

.faq-accordion .card-toggle .svg-inline--fa {
  position: absolute;
  right: 0;
  top: 0.15rem;
  font-size: 1rem;
  color: #888fef;
}

/* Footer Area */

footer.footer-area {
  padding: 5rem 0;
  background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area h5 {
  font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a>i {
  font-size: 22px;
  padding: 2rem;
  color: var(--border-color);
}

footer.footer-area .social a:hover>i {
  color: var(--primary-color);
}

/* End Footer */
#scroll-btn {
  background-color: #4458dc;
  border: medium none;
  border-radius: 8px;
  bottom: 20px;
  color: white;
  cursor: pointer;
  display: none;
  outline: medium none;
  padding: 10px 15px 7px;
  position: fixed;
  right: 30px;
  z-index: 99;
  font-size: 20px;
}
